@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
}

.cabeçalho {
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: #111111;
    padding: 0% 0% 0% 5%;
}

.menu {
    display: flex;
    gap: 30vh;
}

.logo {
    position: relative;
    top: 0.3vh;
    padding: 0% 0% 0% 3%;

}

.topico {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    color: #00ff00;
    font-size: 24px;
    text-decoration: none;
    position: relative;
    top: 5vh;
    left: 5vh;
}

.conteudo {
    margin: 18% 18% 0% 15%;
    display: flex;
    gap: 9vh;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    letter-spacing: 0.16cm;
}

.cor {
    color: #00ff00;
}

.textoP {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    letter-spacing: 0.10cm;
}

.fotoprincipal {
    width: 60vh;
    height: 45vh;
    border-radius: 5%;
}

#sobre {
    margin: 20%;
}

.sobreNos {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    color: #00ff00;;
}

.textoSobreNos {
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 22px;
    letter-spacing: 0.09cm;
}

#Contatos {
    margin: 20%;
}

.contato {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    color: #00ff00;
}